html, body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.nav-glyphish-example {
    padding-top: 20px !important;
}

#preTwo, #preOne, #currentDraw {
    max-height: 7em;
    min-height: 5em;
    border: 1px solid red;
}

.drawNo, .sel {
    padding: 10px;
    background: aqua;
    flex: 1;
}

.sel {
    flex: 3;
}

.oneRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#mk6Tab:after {
    background: url("../img/mk6Tab.png") 50% 50% no-repeat;
    background-size: 24px 22px;
}

#horseTab:after {
    background: url("../img/horseTab.png") 50% 50% no-repeat;
    background-size: 24px 16px;
}

#footballTab:after {
    background: url("../img/footballTab.png") 50% 50% no-repeat;
    background-size: 12px 26px;
}

#meTab:after {
    background: url("../img/meTab.png") 50% 50% no-repeat;
    background-size: 22px 27px;
}